<div class='row p-1 mb-2'>

  <%# PIPELINE %>

  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 p-3">
    <%= image_tag('genocrunch_pipeline.png', class: 'pipeline-figure', alt: 'Genocrunch pipeline') %>
  </div>
  <div class='col-xl-6 col-lg-6 col-md-6 col-sm-12 align-justify'>

    <p>
      Genocrunch is a web-based data analysis platform dedicated to metagenomics and metataxonomics. It is tailored to process counts datasets derived from high-throughput nucleic acids sequencing of microbial communities <%= image_tag('genocrunch_pipeline-1.png', height:'14px') %>, such as gene counts or counts of operational taxonomic units (OTUs) <%= image_tag('genocrunch_pipeline-2.png', height:'14px') %>. In addition to such <b>primary dataset</b>, it also allows the integration of a <b>secondary dataset</b> (e.g. metabolites levels) <%= image_tag('genocrunch_pipeline-3.png', height:'14px') %>.
    </p>
    <p>
      Genocrunch provides tools covering data <b>pre-processing</b> and <b>transformation</b>, <b>diversity</b> analysis, <b>multivariate statistics</b>, <b>dimensionality reduction</b>, <b>differential analysis</b>, <b>clustering</b> as well as <b>similarity network</b> analysis and <b>associative analysis</b>.
The results of clustering are automatically inferred as additional models into other analyses <%= image_tag('genocrunch_pipeline-4.png', height:'14px') %>.
    </p>
    <p>
      <b>Interactive visualization</b> is offered for all figures.
    </p>
  </div>



<!--
  <div class="card col-xl-6 offset-xl-3 col-lg-6 offset-lg-3 col-md-6 offset-md-3 col-sm-12">


<table id="browserSupportTable" class="table table-condensed mb-2">
  <thead>
    <tr>
      <th>Browser</th>
      <th title="Mozilla Firefox" class="bs-firefox"></th>
      <th title="Microsoft Edge" class="bs-edge"></th>
      <th title="Google Chrome" class="bs-chrome"></th>
      <th title="Opera" class="bs-opera"></th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>Tested version</td>
        <td>60.0.1 Quantum (Linux/Win)</td>
        <td>42.17134</td>
        <td>67.0.3396.79 (Win)</td>
        <td>53.0 (Win)</td>
      </tr>
  </tbody>
</table>
</div>

-->

</div>
