<label class="custom-file">
  <%= file_field_tag "p[#{field['id']}]", {:class => 'custom-file-input'} %>
  <span class="custom-file-control form-control-file "></span>
</label>

<%= javascript_tag do %>

 $(document).ready(function() {

function change_<%= field['id'] %>(where){

<% if field['id'] == 'primary_dataset' %>

 var url = (where == 'server') ? '<%= read_file_header_jobs_path() %>?file_key=<%= field['id'] %>' : null;
 setSelectFromFileRow("category_column", $("#p_primary_dataset")[0].files[0], '<%= @default['category_column'] || '' -%>', null, url);

<% elsif field['id'] == 'map' %>

 var url = (where == 'server') ? '<%= read_file_header_jobs_path() %>?file_key=<%= field['id'] %>' : null;
 setSelectFromFileRow("prim_batch_effect_suppression", $("#p_map")[0].files[0], '<%= @default['prim_batch_effect_suppression'] || '' -%>', null, url);
 setSelectFromFileRow("sec_batch_effect_suppression", $("#p_map")[0].files[0], '<%= @default['sec_batch_effect_suppression'] || '' -%>', null, url);
 setSelectFromFileRow("basic_model", $("#p_map")[0].files[0], '<%= @default['basic_model'] || '' -%>', null, url);

<% end %>
}

$("#p_<%= field['id'] %>").on('change',function(){ 
  var filename = $(this).val().replace(/.*?fakepath\\/, '');
  $(this).next('.form-control-file').addClass("selected").html(filename);
  // the file on the server is obsolete:
  $("#p2_<%= field['id'] %>").val("")
  // reset the default value of bin_levels
  $("#default_bin_levels").val("[]");
  // refresh the fields depending on the file field
  change_<%= field['id'] %>("client");
})

var ori_filename = $("#p2_<%= field['id'] %>").val();
 if (ori_filename != ''){
  $("#p_<%= field['id'] %>").next('.form-control-file').addClass("selected").html(ori_filename);
  change_<%= field['id'] %>("server");
  <% if field['id'] == 'map' %>
    $('#p_prim_batch_effect_suppression_fun-container').removeClass("hidden");
    $('#p_prim_batch_effect_suppression_fun-placeholder').addClass("hidden");
    $('#p_sec_batch_effect_suppression_fun-container').removeClass("hidden");
    $('#p_sec_batch_effect_suppression_fun-placeholder').addClass("hidden");
    $('#p_basic_model-container').removeClass("hidden");
    $('#p_basic_model-placeholder').addClass("hidden");
  <% end %>
    <% if field['id'] == 'primary_dataset' %>
    $('#p_category_column-container').removeClass("hidden");
    $('#p_category_column-placeholder').addClass("hidden");
    $('#p_bin_levels-container').removeClass("hidden");
    $('#p_bin_levels-placeholder').addClass("hidden");
  <% end %>
 }


});

<% end %>
