<%  val = @default[field['id']] || field['default'] %>

<div class='card-deck'>
<div class="card">
  <div class="card-header">
 <%= field['label'] %>
<div style='float:right'>
  <label>
      <%= radio_button_tag "p[#{field['id']}]", 'basic', (val == 'basic'), {:class => 'model_radio_button'} %>
      Basic
      </label>
  <label>
    <%= radio_button_tag "p[#{field['id']}]", 'advanced', (val == 'advanced'), {:class => 'model_radio_button'} %>
    Advanced
  </label>
</div>
  </div>
  <div class="card-block">
<!-- Tab panes -->
  <div class="tab-pane" id="model-basic" role="tabpanel">
     <%= render :partial => 'card_form', :locals => {:list_fields => @h_field_groups['model_type_basic']} %>
  </div>
  <div class="tab-pane hidden" id="model-advanced" role="tabpanel">
    <%= render :partial => 'card_form', :locals => {:list_fields => @h_field_groups['model_type_advanced']} %>
  </div>

  </div>
</div></div>

<%= javascript_tag do %>

function set_tab(e){
 if (e == 'advanced'){
  $("#model-basic").addClass("hidden");
  $("#model-advanced").removeClass("hidden");
 }else{
  $("#model-basic").removeClass("hidden");
  $("#model-advanced").addClass("hidden");
 }

}

$(".model_radio_button").change(function(){
set_tab($(this).val());
});

set_tab($(".model_radio_button:checked").val());


<% end %>
