<div class='card p-2 full-width'>
  <h3><%= (@scope == 'global')? 'All analyses' : 'My analyses' %></h3>

<table id="jobTable" class="table table-striped table-condensed">
  <thead>
    <tr>
      <th title="Analysis key"><i class="fa fa-key"></i></th>
      <th title="name">Name</th>
      <th title="date">Date</th>
      <% if current_user.role == "admin" %>
        <th title="user">User</th>
	<th title="type">Type</th>
      <% end %>
      <th title="status">Status</th>
      <th title="results">Results</th>
      <th title="size">Size</th>
      <th title="Downloads"><i class='fa fa-download'></i></th>
      <th style="font-weight:normal;"><i title="copy" class="fa fa-clone" aria-hidden="true"></i> | <i title="edit" class="fa fa-pencil" aria-hidden="true"></i> | <i title="delete" class="fa fa-trash-o" aria-hidden="true"></i></th>
    </tr>
  </thead>
  <tbody>
    <% @jobs.compact.each do |job| %>
      <% date = job.updated_at.year.to_s[-2..-1].to_s + "-" + job.updated_at.month.to_s.rjust(2, '0') + "-" + job.updated_at.day.to_s.rjust(2, '0') + " " + job.updated_at.hour.to_s.rjust(2, '0') + ":" + job.updated_at.min.to_s.rjust(2, '0') + " " + job.updated_at.zone.to_s %>
      <tr class="<%= job.status == 'failed' ? 'danger' : '' %>">
	 <td title="<%= job.key %>" style="font-size:<%# [10, 26-[10, job.name.size].max].max %>px;">
          <div class="td-content-container <%# job.test? ? 'test-name' : '' %>">
            <%= link_to job.key, job_path(job.key) %>
          </div>
        </td>
        <td title="<%= job.name %>">
          <div class="td-content-container <%# job.test? ? 'test-name' : '' %>">
            <%= link_to job.name, job_path(job.key) %>
          </div>
        </td>
        <td title="<%= date %>" class="date">
          <%= link_to date, job_path(job.key) %>
        </td>	
        <% if current_user.role == "admin" %>
          <td title="<%= (job.user) ? job.user.username : 'NA' %>">
            <%= (job.user) ? job.user.username : 'NA' %>
          </td>
	 <td>
            <%= (Example.where(:job_key => job.key).all.size > 0) ? 'Example' : 'Std'  %>
         </td>
	 <% end %>
        <td title="<%= job.status%>">
          <% if job.status %>
          <i class="fa <%= job.status == 'running' ? 'fa-circle-o-notch fa-pulse' : job.status == 'completed' ? 'fa-check icon-success' : job.status == 'pending' ? 'fa-ellipsis-h icon-inactive' : 'fa-exclamation-triangle icon-warning' %>" aria-hidden="true"></i>
          <% end %>
        <td>
          <%= link_to raw('<i class="fa fa-eye" aria-hidden="true"></i>'), job_path(job.key), :title => 'show' %>
        </td>
        <td>
          <%= number_to_human_size(job.size.to_i, precision: 2, prefix: :si) %>
        </td>
        </td>
        <td class='dropdown table-dropdown'>
          <a class="dropdown-toggle btn btn-secondary btn-sm" href="#" id="jobDataDropdownMenu-<%= job.key %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
          <ul class="dropdown-menu" aria-labelledby="jobDataDropdownMenu-<%= job.key %>">
            <li><%= link_to raw('<i class="fa fa-file-text-o"></i> primary dataset'), serve_job_path(job.key, :filename => 'input/primary_dataset.txt'), class: "dropdown-item", title: "primary dataset" %></li>
            <li><%= link_to raw('<i class="fa fa-file-text-o"></i> map'), serve_job_path(job.key, :filename => 'input/map.txt'), class: "dropdown-item", title: "map" %></li>
            <% if File.exist? Pathname.new(APP_CONFIG[:data_dir]) + 'users' + job.user_id.to_s + job.key + 'input' + 'secondary_dataset.txt' %> 
              <li><%= link_to raw('<i class="fa fa-file-text-o"></i> secondary dataset'), serve_job_path(job.key, :filename => 'input/secondary_dataset.txt'), class: "dropdown-item", title: "secondary dataset" %></li>
            <% end %>
            <% if !['pending', 'running'].include? job.status %> 
              <li><%= link_to raw('<i class="fa fa-file-archive-o"></i> archive'), serve_archive_job_path(job.key), class: "dropdown-item", :title => 'archive' %></li>
            <% end %>
          </ul>
        </td>
        <td style='white-space:nowrap'>
	  <%= link_to raw('<i title="copy" class="fa fa-clone" aria-hidden="true"></i>'), clone_job_path(job.key) %>
	  |
<%= link_to raw('<i title="edit" class="fa fa-pencil" aria-hidden="true"></i>'), edit_job_path(job.key) %>
          |
	  <% destroy_text = (['pending', 'running'].include? job.status) ? 'abort' : 'delete' %>
	  <%= link_to(job_path(job.key), method: :delete, data: { confirm: 'Are you sure you want to ' + destroy_text + ' "' + (job.name || 'NA') + '" ?'}) do %>
          <i title="delete" class="fa fa-trash-o" aria-hidden="true"></i>
	  <% end %>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>
</div>


<div class='card container-fluid mt-1 mb-1 pb-0 pt-2 pl-2 pr-2 full-width'>
  <div class='row p-0 m-0'>
      <div title="Summary" class="p-0 col-xl-2 col-lg-2 col-md-12 col-sm-12"><h3>Summary</h3></div>
      <div title="completed" class="p-0 col-xl-2 col-lg-2 col-md-12 col-sm-12"><%= @jobs.select{ |i| i.status == "completed" }.length %> completed (<i class="fa fa-check icon-success" aria-hidden="true"></i>)</div>
      <div title="pending" class="p-0 col-xl-2 col-lg-2 col-md-12 col-sm-12"><%= @jobs.select{ |i| i.status == "pending" }.length %> pending (<i class="fa fa-ellipsis-h icon-inactive" aria-hidden="true"></i>)</div>
      <div title="running" class="p-0 col-xl-2 col-lg-2 col-md-12 col-sm-12"><%= @jobs.select{ |i| i.status == "running" }.length %> running (<i class="fa fa-circle-o-notch" aria-hidden="true"></i>)</div>
      <div title="failed" class="p-0 col-xl-2 col-lg-2 col-md-12 col-sm-12"><%= @jobs.select{ |i| i.status == "failed" }.length %> failed (<i class="fa fa-exclamation-triangle icon-warning" aria-hidden="true"></i>)</div>
      <div title="total" class="p-0 col-xl-2 col-lg-2 col-md-12 col-sm-12">Total: <%= @jobs.length %></div>

      <% if @scope != 'global' %>
        <div title="<%= @current_user.username %> storage" class="p-0 col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <span id="storage-limit-bar" class="storage-limit-bar"><span class="progress-bar"></span></span>
          <span>Storage quota</span>
          <span class="float-right">
            <%= (number_to_human_size(@current_user.total_jobs_size.to_i, precision: 2, prefix: :si)  +" / "+ ((@current_user.storage_quota.to_i > 0) ? number_to_human_size(@current_user.storage_quota.to_i, precision: 2, prefix: :si) : 'unlimited')) %>
          </span>
        </div>
      <% else %>
      <div title="Storage" class="p-0 col-xl-2 col-lg-2 col-md-12 col-sm-12">Storage: <%= number_to_human_size(@jobs.sum(&:size).to_i, precision: 2, prefix: :si) %></div>
      <% end %>
  </div>
</div>

<%= javascript_tag do  %>
$(document).ready(function(){
  var storage_quota = <%= @current_user.storage_quota.to_i %>;

  if (storage_quota > 0) {
    var total_jobs_size = <%= @current_user.total_jobs_size.to_i %>,
        percent_storage_limit = Math.min(100, (100*total_jobs_size/storage_quota)),
        storage_limit_col = (percent_storage_limit < 90) ? "#0275d8" : ((percent_storage_limit < 95) ? "orange" : "red");
    $("#storage-limit-bar>.progress-bar").css({"width":percent_storage_limit+"%",
                                               "border-top-color":storage_limit_col})
  }

  var table = $('#jobTable').DataTable({
    "sDom": 'lfrtip',
    "aLengthMenu": [[10, 25, 50, 100, -1],
                   [10, 25, 50, 100, "All"]],
    "iDisplayLength" : 25,
    "order": [[ 2, 'desc' ], [ 1, 'asc' ]]
  });

});

<% end %>
