<% if @final_json[:status_by_step][k] %>
<% @final_json[:status_by_step][k].select{|e| e[:status] != 'skipped'}.each do |e| %>

<div class='card mb-1'>
  <div class='card-header'>
<div class='float-right'>
  <%= raw display_duration(e[:execution_time]) %>
</div>
  <i id="status-<%= e[:id] %>" class="<%= @h_statuses[e[:status] || 'pending'].icon %>" aria-hidden="true"></i>
  <%= e[:name].capitalize %>
</div>

<% step_key = "primary_dataset_" + e[:name] %>
<% if @final_json[:messages_by_step][step_key] and @final_json[:messages_by_step][step_key].select{|e| e[:messages] and e[:messages].select{|h| h.keys.size > 0}.compact.size > 0}.size > 0  %>
<div class='card-block'>

<ul class='no-bullets'>
<% @final_json[:messages_by_step][step_key].select{|e| e[:messages] and e[:messages].select{|h| h.keys.size > 0}.compact.size > 0}.each do |e2| %>
<li>
<% status_substep = (@final_json[:status_by_substep][e[:name]]) ? @final_json[:status_by_substep][e[:name]].select{|e3| e3[:name] == e2[:name]}.first : nil %>
<div class='float-right'>
  <%= raw display_duration(status_substep[:execution_time]) if status_substep %>
</div>
  <%if status_substep %>
    <i id="status-<%= e[:id] %>" class="<%= @h_statuses[status_substep[:status] || 'pending'].icon %>" aria-hidden="true"></i>
  <% end %>
<%= e2[:name].capitalize if status_substep %>

<% e2[:messages].each do |e3| %>
<% k = e3.keys.first %>
<p>
<i class='fa fa-<%= @h_icons[k] %>'></i>
<% if k != 'output' %>
<%= e3[k] %>
<% else %>
<% t =  e3[k].gsub(/.+?\/#{@job.key}\//, '') %>
<%= link_to 'Download file', serve_job_path(@job.key, :filename => t), :class => 'btn btn-secondary btn-sm' %>
<% end %>
</p>
<% end %>

</li>
<% end %>
</ul>
</div>
<% end %>

</div>
<% end %>
<% end %>
