<div class="container-fluid">
  <div class="row">
    <div class="card col-xl-3 col-lg-3 col-md-3 col-sm-12 p-2 mb-1">

      <% if  @form_json['bin_levels'] %>
        <div class='form-group'>
	
          <label>
            <span class='label-text'>Level</span>
          </label>
	
	        <div class='multiselect-btn-container figtool-multiselect-btn-container'>	
	          <% l = @form_json['bin_levels'].map{|e| [e, e]} %>      
            <%= select_tag 'current_level', options_for_select(l, session[:current_level].to_s), {:class => 'form-control multiselect figtool-multiselect'} %>
          </div>

        </div>

      <% end %>

      <div class='form-group'>
        <%= render :partial => 'export_btn' %> 
      </div>

      <div id="d3-buttons" class="pt-2 border-top"></div>

    </div>
    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12">
      <div class="row">
        <div class="col-xl-9 col-lg-12 col-md-12 col-sm-12 pl-1 pr-0 mb-1">


            <% if (@description and !@description.empty?) or (@warning and !@warning.empty?) or (@error and !@error.empty?) %>

              <div id='fig-description-container' title='Figure description' class="p-2 mb-1 card">

                <% if (@description.length() + @warning.length() + @error.length()) > 1 %>

                  <span id='fig-description-btn'>
                    <i class='fa fa-info fa-2x'></i>
                  </span>
                  <span id='fig-description' class="inactive">
                    <ul>
                      <% @error.each do |d| %>
                        <li class="p-0 alert alert-danger"><i class="fa fa-exclamation-triangle icon-danger"></i> <%= d %></li>
                      <% end %>
                      <% @warning.each do |d| %>
                        <li class="p-0 alert alert-warning"><i class="fa fa-exclamation-triangle icon-warning"></i> <%= d %></li>
                      <% end %>
                      <% @description.each do |d| %>
                        <li><%= d %></li>
                      <% end %>
                    </ul>
                  </span>

                <% else %>
                  
                  <span id='fig-description'>
                    <i class='fa fa-info fa-2x'></i> <%= @description.concat(@warning.concat(@error))[0] %>
                  </span>

                <% end %>

              </div>
            <% end %>
        
            <div id='fig-container' class="fig-container card">
              <div id="fig" class="full-width full-height"></div>
            </div>

        </div>
        <div class="col-xl-3 col-lg-12 col-md-12 col-sm-12 pl-1 pr-0 mb-1">
          <div id="fig-legend" class="card p-2 m-0 full-width"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_tag do %>

  $('#fig-description-btn').click(function(e) {
    $('#fig-description-btn').toggleClass('active');
    $('#fig-description').toggleClass('inactive');
  });

$("#current_level").change(function(){
var div = $('#show_content');
var url = '<%= view_job_path(:key => @job.key) %>?partial=<%= params[:partial] %>&current_level=' + $(this).val();

 $.ajax({
  url: url,
  type: "get",
  beforeSend: function(){
  },
  success: function(returnData){
   div.empty();
   div.html(returnData);
  },
  error: function(e){
  }
 });

});

setMultiselect('#current_level');

<% end %>
