
      <% if  @form_json['bin_levels'] %>
        <div class='form-group'>
	
          <label>
            <span class='label-text'>Level</span>
          </label>
	
	        <div class='multiselect-btn-container figtool-multiselect-btn-container'>	
	          <% l = @form_json['bin_levels'].map{|e| [e, e]} %>      
            <%= select_tag 'current_level', options_for_select(l, session[:current_level].to_s), {:class => 'form-control multiselect figtool-multiselect'} %>
          </div>

        </div>

      <% end %>

  <i class='fa fa-file-text-o'></i>
  <%= link_to 'Download file', serve_job_path(@job.key, :filename => 'output/map.txt'), :class => 'btn btn-secondary btn-sm mb-1' %>

            <div class='card' title='Clustering details'>
              <div class='card-header'>
                <%= @form_json['bin_levels'] ? 'Clustering details (level '+session[:current_level].to_s+')' : 'Clustering details' %>
              </div>
              <div class='card-block'>
          <% if @description and !@description.empty? %>
                <% if @description.length() > 1 %>
                  <ul>
                    <% @description.each do |d| %>
                      <li><%= d %></li>
                    <% end %>
                  </ul>
                <% else %>
                  <%= @description.first %>
                <% end %>
          <% end %>
              </div>
            </div>

        

<%= javascript_tag do %>

$("#view-title").html("Clustering")

$("#current_level").change(function(){
var div = $('#show_content');
var url = '<%= view_job_path(:key => @job.key) %>?partial=<%= params[:partial] %>&current_level=' + $(this).val();

 $.ajax({
  url: url,
  type: "get",
  beforeSend: function(){
  },
  success: function(returnData){
   div.empty();
   div.html(returnData);
  },
  error: function(e){
  }
 });

});

setMultiselect('#current_level');

<% end %>
