<div class="container-fluid">
<div class='row main-container'>

  <nav class="navbar navbar-toggleable-md fixed-top topbar-margin col-xl-2 col-lg-2 col-md-12 col-sm-12 side-index-container pr-2 pl-2 show-navbar">
    <div class="collapse navbar-collapse">
      <div class='side-index'>

        <%= hidden_field_tag 'selected_view', 'details' %>
        
        <ul class='nav flex-column side-index-list'>
          <li class="nav-item"><h2>Analysis report</h2></li>
          <li class="nav-item">
            <a id='menu-details' class='menu btn btn-sm btn-secondary text-left mt-1 mb-1 full-width' href="#">
              <span class='float-left'>Details</span>
              <span class='float-right'>
                <i class="fa fa-info" aria-hidden="true"></i>
              </span>
            </a>
          </li>
          <li class="nav-item">
            Data

<% @inputs#.select{|e| @final_json[:global_status_by_step][e[:id]] }
   .each do |input| %>
    <a id='menu-<%= input[:id] %>' class='menu btn btn-sm btn-secondary text-left mt-1 mb-1 full-width' href="#">
      <span class='float-left'>
        <% status = (@final_json) ? @final_json[:global_status_by_step][input[:id]] : 'pending' %>
        <i id="status-<%= input[:id] %>" class="<%= @h_statuses[status || 'pending'].icon %>" aria-hidden="true"></i>
        <%= input[:label] %>
      </span>
      <span class='float-right'>
        <i class="<%= (@h_views[input[:id]]) ? @h_views[input[:id]].icon : '' %>" aria-hidden="true"></i>
      </span>
    </a>
<% end %>

          </li>
          <li class="nav-item">
            Analysis

            <% @analyses#.select{|e| @final_json[:global_status_by_step][e[:id]]}
   .each do |analysis| %>
    <a id='menu-<%= analysis[:id] %>' class='menu btn btn-sm btn-secondary text-left mt-1 mb-1 full-width' href="#">
      <span class='float-left'>
        <% status = (@final_json) ? @final_json[:global_status_by_step][analysis[:id]] : 'pending' %>
        <i  id="status-<%= analysis[:id] %>" class="<%= @h_statuses[status || 'pending'].icon %>" aria-hidden="true"></i>
        <%= analysis[:label] %>
      </span>
      <span class='float-right'>
        <i class="<%= (@h_views[analysis[:id]]) ? @h_views[analysis[:id]].icon : '' %>" aria-hidden="true"></i>
      </span>
    </a>
<% end %>

          </li>
        </ul>

 
 
     </div>
  </div>
</nav>

 
 <div class='col-xl-10 col-lg-10 col-md-9 col-sm-12 offset-xl-2 offset-lg-2'>
  <div class='pb-1'>
      <h2 title='Analysis name' class="inline-block">
        <span id='analysis-name'><%= @job.name %></span> | <span id='view-title'></span>
      </h2>

      <span id="edit-btn" class="float-right"><%= link_to raw('Edit <i class="fa fa-pencil" aria-hidden="true"></i>'), edit_job_path(:key => @job.key), :class => 'btn btn-primary' %></span>

      <%= link_to serve_archive_job_path(@job.key), :id => 'archive-btn', :title => 'Download archive', :class => 'btn btn-secondary float-right mr-1 hidden' do %>
        <i class="fa fa-file-archive-o" aria-hidden="true"></i>
      <% end %>
      

  </div>

  
  <div id='show_content'>
    <%= render :partial => 'view_details' %>
  </div>
 </div>


</div>
</div>

<%= javascript_tag do %>


 $(document).ready(function() {

  notice = '<%= notice %>'
  if (notice != '') {
    alert(notice)
  }

  var window_width = $(window).width();

  <% @h_tips['show'].each_with_index do |tip, index| %>
    <% if !current_user and !session["tip#{tip['id']}".to_sym] and tip['target'] %>

      var target = $("#<%= tip['target'] %>"),
          offset = target.offset(),
          tip = $('<div></div>', {
            id: "tip_window<%= index %>",
            class: "tip-window"
          }),
          tip_container = $("<div></div>", {
            class: "tip-window-container"
          }).append(tip),
          tip_text = $("<p></p>").html("<%= raw tip['html'] %>"),
          tip_icon = $('<i></i>', {
            class: "fa fa-info-circle"
          }),
          tip_close = $('<div></div>', {
            class: "tip-window-close"
          });
      tip_close.html('<i class="fa fa-check" aria-hidden="true"></i> Got it!')
      tip_close.click(function() {
        $("#tip_window<%= index %> p").html('');
        $("#tip_window<%= index %>").css({display:'none'});
      })


      tip.css({
        left: (window_width-offset.left < window_width/2) ? -260 : 0,
      })
      tip.addClass((window_width-offset.left < window_width/2) ? "right" : "left");

      tip.append(tip_icon);
      tip.append(tip_text);
      tip.append(tip_close);
      target.append(tip_container);

      <% session["tip#{tip['id']}".to_sym] = true %>
    <% end %>
  <% end %>

  var selected_view = $("#selected_view").val();
  $("#menu-"+selected_view).addClass('selected');




clearInterval(localStorage.getItem("refresh_timer"))
var refresh_timer = setInterval(function(){
//alert("show")
refresh_data()
}, 5000);
localStorage.setItem("refresh_timer", refresh_timer);
});


$(".menu").click(function(){
  var name = this.id.split("-")[1];
  $("#selected_view").val(name);
  $(".menu").removeClass('selected');
  $(this).addClass('selected');
});

function refresh_data(){
 var url = '<%= refresh_job_path(:key => @job.key) %>';
 $.ajax({
  url: url,
  type: "get",
  dataType: "script",
  beforeSend: function(){
  },
  success: function(returnData){},
  error: function(e){
  }
 });

}

$(".menu").click(function(){
 var t = this.id.split("-");
 var div = $("#show_content");
 var url = '<%= view_job_path(:key => @job.key) %>?partial=' + t[1];
 $.ajax({
  url: url,
  type: "get",
  beforeSend: function(){
  },
  success: function(returnData){
    div.empty();
    div.html(returnData);
  },
  error: function(e){
  }
 });

});


refresh_data();

<% end %>
