<div class="container-fluid">
<div class='row main-container'>

  <nav class="navbar navbar-toggleable-md fixed-top topbar-margin col-xl-2 col-lg-2 col-md-12 col-sm-12 side-index-container">
    <div class="collapse navbar-collapse border-right">
      <div class='side-index'>

        <%= hidden_field_tag 'selected_view', 'primary_dataset' %>
        
        <ul class='nav flex-column mr-auto mt-2 mt-lg-0 side-index-list'>
          <li class="nav-item">
            <b>Data</b>

<% @inputs#.select{|e| @final_json[:global_status_by_step][e[:id]] }
   .each do |input| %>
  <div id='menu-<%= input[:id] %>' class='menu'>
    <a class='btn btn-sm btn-secondary text-left' href="#">
      <span class='float-left'>
        <% status = (@final_json) ? @final_json[:global_status_by_step][input[:id]] : 'pending' %>
        <i id="status-<%= input[:id] %>" class="<%= @h_statuses[status || 'pending'].icon %>" aria-hidden="true"></i>
        <%= input[:label] %>
      </span>
      <span class='float-right'>
        <i class="<%= (@h_views[input[:id]]) ? @h_views[input[:id]].icon : '' %>" aria-hidden="true"></i>
      </span>
    </a>
  </div> 
<% end %>

          </li>
          <li class="nav-item">
            <b>Analysis</b>

            <% @analyses#.select{|e| @final_json[:global_status_by_step][e[:id]]}
   .each do |analysis| %>
  <div id='menu-<%= analysis[:id] %>' class='menu'>
    <a class='btn btn-sm btn-secondary text-left' href="#">
      <span class='float-left'>
        <% status = (@final_json) ? @final_json[:global_status_by_step][analysis[:id]] : 'pending' %>
        <i  id="status-<%= analysis[:id] %>" class="<%= @h_statuses[status || 'pending'].icon %>" aria-hidden="true"></i>
        <%= analysis[:label] %>
      </span>
      <span class='float-right'>
        <i class="<%= (@h_views[analysis[:id]]) ? @h_views[analysis[:id]].icon : '' %>" aria-hidden="true"></i>
      </span>
  </a>
  </div>
<% end %>

          </li>
        </ul>

 
 
     </div>
  </div>
</nav>

 
 <div class='col-xl-10 col-lg-10 col-md-9 col-sm-12 offset-xl-2 offset-lg-2'>
  <div class='pb-1'>
    <h2>
      <span id='job-description-btn' class='btn btn-sm btn-secondary' title='Description'><i class='fa fa-bars'></i></span>
      <span title='Analysis name: <%= @job.name %>'>
        <%= @job.name %>
      </span>
      <div id="edit-btn" class="btn btn-primary float-right custom-btn-container">
        <%= link_to 'Edit', edit_job_path(:key => @job.key), :class => 'btn' %>
      </div>
            
      <%= link_to serve_job_path(@job.key, :filename => @job.key + '.tar.gz'), :id => 'archive-btn', :title => 'Download archive', :class => 'btn btn-secondary float-right mr-1 hidden' do %>
        <i class="fa fa-file-archive-o" aria-hidden="true"></i>
      <% end %>
      
    </h2>
    <i id="global_status" class="<%= @h_statuses[(@final_json) ? @final_json[:global_status] : 'pending'].icon %>" aria-hidden="true"></i>
    
    <div id='job-description' class='hidden'>
      <%= (@job.description != '') ? @job.description : 'Description: sorry, you did not enter any description for this analysis' %>
    </div>
  </div>

  
  <div id='show_content'>
    <%= render :partial => 'view_primary_dataset' %>
  </div>
 </div>


</div>
</div>

<%= javascript_tag do %>


 $(document).ready(function() {

  $('#job-description-btn').click(function(e) {
    $('#job-description').toggleClass('hidden');
  });

  var window_width = $(window).width();

  <% @h_tips['show'].each_with_index do |tip, index| %>
    <% if !current_user and !session["tip#{tip['id']}".to_sym] and tip['target'] %>

      var target = $("#<%= tip['target'] %>"),
          offset = target.offset(),
          tip = $('<div></div>', {
            id: "tip_window<%= index %>",
            class: "tip-window"
          }),
          tip_container = $("<div></div>", {
            class: "tip-window-container"
          }).append(tip),
          tip_text = $("<p></p>").html("<%= raw tip['html'] %>"),
          tip_icon = $('<i></i>', {
            class: "fa fa-info-circle"
          }),
          tip_close = $('<div></div>', {
            class: "tip-window-close"
          });
      tip_close.html('<i class="fa fa-check" aria-hidden="true"></i> Got it!')
      tip_close.click(function() {
        $("#tip_window<%= index %> p").html('');
        $("#tip_window<%= index %>").css({display:'none'});
      })


      tip.css({
        left: (window_width-offset.left < window_width/2) ? -260 : 0,
      })
      tip.addClass((window_width-offset.left < window_width/2) ? "right" : "left");

      tip.append(tip_icon);
      tip.append(tip_text);
      tip.append(tip_close);
      target.append(tip_container);

      <% session["tip#{tip['id']}".to_sym] = true %>
    <% end %>
  <% end %>

  var selected_view = $("#selected_view").val();
  $("#menu-"+selected_view).addClass('selected');
});


$(".menu").click(function(){
  var name = this.id.split("-")[1];
  $("#selected_view").val(name);
  $(".menu").removeClass('selected');
  $(this).addClass('selected');
});

var timer = setInterval(function(){
refresh_data()
}, 5000);

function refresh_data(){
 var url = '<%= refresh_job_path(:key => @job.key) %>';
 $.ajax({
  url: url,
  type: "get",
  dataType: "script",
  beforeSend: function(){
  },
  success: function(returnData){
//    div.empty();
//    div.html(returnData);
  },
  error: function(e){
  }
 });

}

$(".menu").click(function(){
 var t = this.id.split("-");
 var div = $("#show_content");
 var url = '<%= view_job_path(:key => @job.key) %>?partial=' + t[1];
 $.ajax({
  url: url,
  type: "get",
  beforeSend: function(){
  },
  success: function(returnData){
    div.empty();
    div.html(returnData);
  },
  error: function(e){
  }
 });

});


refresh_data();

<% end %>
