<div class='main-container container-fluid'>
<p id="notice"><%= notice %></p>
<h1>Examples</h1>
<%= link_to 'New Example', new_example_path, class: "btn btn-info mb-1" if admin? %>
<div id='card-deck'>
<% @jobs.each do |j| %>

 <div class="card mb-1">
   <div class='card-header'>
     <%= j.name %>

    <div class="btn-group float-right">
     <a class='btn btn-primary clone-btn' href='<%= clone_job_path(:key => j.key) %>'>Load</a>
    <% if admin? %>
      <%= link_to 'Edit analysis', edit_job_path(j.key), class: "btn btn-info" %>
      <%= link_to 'Delete', example_path(j.key), method: :delete, data: { confirm: 'Are you sure you want to remove this example?'}, class: "btn btn-danger" %>
    <% end %>
    </div>

   </div>
   <div class="card-block">
      <p class="card-text"><%= j.description %></p>
    </div>
  </div>
<% end %>

</div>

</div>

<%= javascript_tag do %>
  clearInterval(localStorage.getItem("refresh_timer"))
  selectBtn("#home-pages-list.navbar-nav>nav-item", "#home-pages-list.navbar-nav>#examples")
<% end %>
