<div class="container-fluid">
<div class="row main-container">
<div class="col-md-4 offset-md-4">

<h1>Join <%= Rails.application.class.parent_name %></h1>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

  <%= devise_error_messages! %>

  <div class="form-group">
    <label class="control-label">Username *</label>
    <%= f.text_field :username, :autofocus => true, class: "form-control input-lg", tabindex: 1, placeholder: "Choose a username" %>
  </div>

  <div class="form-group">
    <label class="control-label">Email <small>will be used to recover your password in case you forget it.</small> <%= '*' if APP_CONFIG[:user_confirmable] %></label>
    <%= f.email_field :email, class: "form-control input-lg", tabindex: 2, placeholder: "Your email address" %>
  </div>

  <div class="form-group">
    <label class="control-label">Password <small>min 5 characters</small> *</label>
    <%= f.password_field :password, class: "form-control input-lg", tabindex: 3, placeholder: "Define a password" %>
  </div>

  <div class="form-group">
    <%= f.password_field :password_confirmation, class: "form-control input-lg", tabindex: 4, placeholder: "Repeat  your password" %>
  </div>

  <div class="form-group">
    <label class="control-label">Captcha *</label>
    <%= rucaptcha_input_tag(class: 'form-control input-lg', tabindex: 5, placeholder: 'Solve the captcha below') %>
    <%= rucaptcha_image_tag(alt: 'Captcha') %>
  </div>

  <div class="form-group">
  <label class="control-label">By registering, you agree with the <%= link_to 'terms of service', terms_home_index_path, target: "_blank" %>.</label>
  </div>

  <div class="form-group">
    <%= f.submit "Register", data: { confirm: File.read('public/app/TERMS_OF_SERVICE.txt') }, :class => "btn btn-success btn-lg full-width", tabindex: 5 %>
  </div>

<% end %>

</div>
</div>
</div>
